<!--  app/views/projects/show.html.erb -->

<div class="content">

	<% if UserProject.where(:user => session[:user_id], :project => @project).count == 0 %>
		<%= form_tag user_projects_path, :method => :post do %> 
			<%= hidden_field_tag 'project_id', @project.id %>
			<%= @project.description.html_safe %>
			<%= submit_tag 'Add to my projects', :class => 'btn btn-primary btn-block' %>
		<% end %>
	<% end %>

</div>


